@charset "UTF-8" ;

*{margin: 0;padding: 0;box-sizing: border-box;}

a{text-decoration: none; color: inherit;}

ol, ul, li{list-style: none;}

body{
    background-color: #fff;
    color: #333;
    font-size: 14px;
}

#wrap{
    width: 100%;
}

.up{
    width: 100%;
    height: 900px;
    display: flex;
}

.header{
    width: 200px;
    height: 100%;
    background-color: lightcyan;
}

.logo{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a{}

.logo a img{width: 195px;}

.nav{}

.main{
    width: 150px;
    margin: 0px auto;
    padding-top: 20px;
    border-top: 1px dotted #333;
}

.main > li{
    margin-bottom: 5px;
}

.main > li > a{
    display: block;
    background-color: darkblue;
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
    text-indent: 20px;
    border-radius: 10px 10px 0 0;
}

.main > li:hover > a{
    background-color: firebrick;
}

.sub{display: none;}

.sub li{}

.sub li a{
    display: block;
    height: 40px;
    line-height: 40px;
    text-indent: 30px;
    font-weight: 600;
    background-color: #fff;
}

.sub li a:hover{
    background-color: lightsalmon;
}

.contents{
    width: 400px;
    height: 100%;
}

.notice{
    width: 100%;
    height: 350px;
    padding: 20px;
}

.notice h2{
    font-size: 14px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: darkblue;
    color: #fff;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
}

.notice ul{
    height: 250px;
    border-top: 4px solid darkblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.notice ul li{
    display: flex;
    padding: 10px;
}

.notice ul li a{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 75%;
    font-size: 15px;
}

.notice ul li span{
    width: 25%;
    text-align: right;
}

.galley{
    width: 100%;
    height: 350px;
    padding: 20px;
}

.galley h2{
    font-size: 14px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: darkblue;
    color: #fff;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
}

.galley ul{
    height: 250px;
    border-top: 4px solid darkblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.galley ul li{}

.galley ul li a{}

.galley ul li a img{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 1px solid white;
    display: block;
    margin-bottom: 5px;
    border-radius: 10px;
}

.galley ul li a span{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
}

.link{
    width: 100%;
    height: 200px;
    padding: 20px;
}

.link ul{
    height: 150px;
    border-top: 4px solid darkblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link ul li{}

.link ul li a{
    display: block;
}

.link ul li a img{
    display: block;
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    height: 80%;
    margin-bottom: 10px;
}

.link ul li a span{
    display: block;
    text-indent: 18px;
}

.slide_img{
    width: calc(100% - 600px);
    height: 100%;
    height: 900px;
    position: relative;
    overflow: hidden;
}

.top_move{
    position: absolute;
    width: 100%;
    /* height: 100%; */
    left: 0; top: 0;
    background-color: lightgray;
}

.top_move li{
    width: 100%;
    height: 900px;
}

.top_move li a{
    display: block;
    width: 100%;
    height: 900px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

.top_move li:nth-child(1) a{
    background-image: url(../img/sl1.jpg);
}

.top_move li:nth-child(2) a{
    background-image: url(../img/sl2.jpg);
}

.top_move li:nth-child(3) a{
    background-image: url(../img/sl3.jpg);
}

.footer{
    width: 100%;
    height: 100px;
    display: flex;
    border-bottom: 1px solid darkblue;
}

.f_logo{
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy{
    width: calc(100% - 200px - 300px);
    height: 100px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    border-left: 1px dotted darkblue;
}

.family{
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px dotted darkblue;
}

.family select{
    width: 200px;
    height: 50px;
}

.modal{
    width: 100%;
    height: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;top: 0;
    z-index: 10;
    display: none;
}

.pop{
    width: 500px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 5px solid firebrick;
    padding: 30px;
    z-index: 20;
    display: none;
}

.pop h3{
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px;
    padding: 3px;
    border-bottom: double 4px darkblue;
    font-weight: bold;
}

.pop p{
    text-align: justify;
    line-height: 2;
}

.pop .close{
    position: absolute;
    right: 40px;
    bottom: 30px;
    width: 60px;
    height: 30px;
    border-radius: 5px;
}