@charset "UTF-8" ;

*{margin: 0;padding: 0;box-sizing: border-box;}

a{text-decoration: none; color: inherit;}

ol, ul, li{list-style: none;}

body{
    background-color: #fff;
    color: #333;
    font-size: 14px;
}